body{
    margin: 0;
    padding: 0;

}
.background_container{
    background-image: url('./imgs/doordash.png');
    background-size: cover;
    height: 600px;
    width: 100%;
    position:absolute;
}
.top_logo{
    width: 15%;
    position: relative;
    top: 2px;
    left: 45%;
}
.login_btn{
    position: absolute;
    top: 20px;
    left: 85%;
}
.sign_in_btn{
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 45px;
    color: white;
    background-color: orangered;
}
.sign_up_btn{
    padding: 14px;
    border: 1px solid white;
    border-radius: 45px;
    color: black;
    background-color: white;
    margin-left: 25px;
}
.heading1{
text-align: center;
color: white;
position: relative;
top: 160px;
}
.search_bar{
    max-width: 400px;
    position: relative;
    margin: auto;
}
.search_bar input{
    position: relative;
    top: 170px;
    padding: 15px;
    padding-right: 40px;
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}
.fa-location-dot{
    position: absolute;
    top: 185px;
    left: 30px;
}
.fa-arrow-right{
    position: absolute;
    top: 180px;
    right: 25px;
    border: 1px solid orangered;
    border-radius: 50%;
    color: white;
    background-color: orangered;
    padding: 4.5px;
}
.saved_user{
    position: relative;
    top: 200px;
    left: 10px;
    padding: 10px;
    max-width: 250px;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 20px;
    background-color: white;
}
.saved_user a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    width: 150px;
    letter-spacing:2px;
    padding-left: 10px;
}
.container_2 {
    position: relative;
    top: 500px;
    height: 130px;
}

.svg_1 {
    position: absolute;
    width: 30%;
    text-align: center;
    left: 0;
    top: 50px;
}

.svg_2 {
    position: absolute;
    width: 30%;
    text-align: center;
    left: 35%;
    top: 50px;
}

.svg_3 {
    position: absolute;
    width: 30%;
    top: 80px;
    text-align: center;
    left: 70%;
}
.container_2_links{
    text-decoration: none;
    color: orangered;
    font-size: 18px;
}
.container_2_links span{
    margin-left: 10px;
}
.container_3{
    position: relative;
    top: 700px;
    z-index: 1;
}
.container_3_img1{
    position: absolute;
    left: 45%;
    width: 50%;
}
.container_3_text{
font-size: 20px;
position: absolute;
top: 270px;
left: 5%;
}
.container_btn{
  border: 1px solid orangered;
  border-radius: 20px;
  width: 40%;
  padding: 10px;
  background-color: rgb(255, 64, 0);
  color: white;
}
.container_4 {
    position: relative;
    top: 1350px;
    background-color: RGB(255, 242, 255);
    height:600px;
    
}
.container_4_img1 {
    position: absolute;
    left: 45%;
    top: 200px;
    width: 50%;
}
.container_4_img2 {
    position: absolute;
    top: 80px;
    width: 45%;
    left: 50px;
}

.container_4_text {
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 55%;
}
.container_5{
    background-image: url('./imgs/doordash_grocery_desktop.avif');
    position: relative;
    top: 1300px;
    height: 500px;
    
}
.container_5_text{
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    left: 25%;
    top: 100px;
}
.container_6{
    position: relative;
    top: 1000px;
    height: 150px;
}
.container_6_img1{
    width: 45%;
    position: absolute;
    top: 430px;
    z-index: 1;
    left: 50%;
}
.container_6_text{
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 10%;
}
.container_7{
    position: relative;
    top: 1650px;
    background-color: RGB(255, 242, 255);
    height: 1500px;
    font-size: 16px; 
}
.container_7_h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.container_7_img1{
    position: absolute;
    left: 180px;
    top: 270px;
}
.a{
    width: 45%;
}
.container7_btn{
    border: 1px solid orangered;
    border-radius: 20px;
    width: 20%;
        padding: 10px;
        background-color: rgb(255, 64, 0);
        color: white;

}
.container_7_img2 {
    position: absolute;
    left: 55%;
    top: 270px;
}

.b {
    width: 85%;
    height: 350px;
}
.container_7_img3 {
    position: absolute;
    top: 840px;
    left: 180px;
}

.c {
    width: 80%;
}
.container_7_img4 {
    position: absolute;
    top: 840px;
    left: 55%;
}

.d {
    width: 470px;
}
.container_8{
    position: relative;
    top: 1650px;
    height: 320px;
}
.container_8_text {
    position: absolute;
    top: 190px;
    left: 150px;
    font-size: 20px;
}
.container_8 h1{
    text-align: center;
}
.container_8_img1{
    width: 35%;
    position: absolute;
    top: 150px;
    z-index: 1;
    left: 55%;
}
.container_9{
    position: relative;
    top: 1800px;
    background-color: RGB(255, 242, 255);
    height: 550px;
}
.container_9_img1{
    position: absolute;
    width: 45%;
    left: 80px;
    top: 120px;
}
.container_9_text{
    font-size: 20px;
    position: absolute;
    left: 60%;
    top: 150px;
}
.footer_1{
    position: relative;
    top: 1800px;
}
.footer_1_h1{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}
.top_line h3{
    float: left;
    font-size: 20px;
    font-weight: 300;
    margin-right: 200px;
}
.h3_1 {
    margin-left: 290px;
}
table {
    width: 100%;
    position: absolute;
    top: 70px;
}
.footer-table {
    position: absolute;
    top: 125px;
    left: 140px;
    width: 80%;
}

td {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

td:hover {
    background-color: rgb(247, 241, 241);
}
.footer_2{
  position: relative;
  top: 2050px;
  height: 1050px;
  background-color: black;
}

.footer_2_content{
  position: absolute;
  width: 70%;
}

.table2{
  position: absolute;
  left: 190px;
  width: 80%;
  color: #cecaca;
}

.table2 th{
  color: #ffffff;
}

.table2 td{
  font-size: 14px;
  text-align: left;
}

.table2 th{
  text-align: left;
}
.table2 td:hover{
  color: #ffffff;
  background-color: black;
  text-decoration: underline;
}

.table3{
  position: absolute;
  top: 260px;
  width: 69%;
}

.appstore{
  position: absolute;
  top: 80px;
  left: 700px;
  width: 100px;
  height: 100px;
}

.appstore img{
  width: 100%;
  height: 40%;
}
.appstore1 {
    position: absolute;
    top: 140px;
    left: 700px;
    width: 140px;
    height: 100px;
}
.appstore1 img {
    width: 100%;
    height: 40%;
}
.copyright{
  position: absolute;
  top: 555px;
  left: 68px;
  display: inline-block;
  width: auto;
}

ul{
  list-style-type: none;
}

ul li{
  font-size: 15px;
  font-weight: 400;
  float: left;
  padding-right: 14px;
}

.form{
  position: absolute;
  top: 2px;
  left: 820px;
}

select{
  height: 33px;
  width: 120px;
  border: none;
  border-radius: 20px;
}

.media-icons{
  position: absolute;
  top: 2px;
  left: 955px;
  display: inline-block;
  width: 130px;

}

.media-icons span{
  float: left;
  padding: 12px;
}