body{
    margin: 0;
    padding: 0;

}
.background_container{
    background-image: url('./imgs/doordash.png');
    background-size: cover;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    position: static;
}
.heading1{
text-align: center;
color: white;
position: relative;
top: 200px;
}
.search_bar{
    max-width: 400px;
    position: relative;
    margin: auto;
}
.search_bar input{
    position: relative;
    top: 220px;
    padding: 15px;
    padding-right: 40px;
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}
.fa-location-dot{
    position: absolute;
    top: 236px;
    left: 30px;
}
.fa-arrow-right{
    position: absolute;
    top: 230px;
    right: 25px;
    border: 1px solid orangered;
    border-radius: 50%;
    color: white;
    background-color: orangered;
    padding: 4.5px;
}
.saved_user{
    position: relative;
    top: 260px;
    left: 30px;
}
.saved_user a {
    text-decoration: none;
    font-size: 10px;
    color: black;

}
nav {
    overflow: hidden;
    background-color: white;
    border: 1px solid #f2f2f2;
    position: fixed;
    width: 100%;
    padding: 50px 0;
    padding-top: 0;
    padding-bottom: 0;
}
.nav_logo {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}
nav ul li a {
   text-decoration: none;
   border: 1px solid #FF2000;
   border-radius: 30px;
   margin-left: 20px;
   color: white;
   font-family:  "Padauk", sans-serif;
   font-weight: 700;

}
.sign_in{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FF2000;
}
.sign_up{
    border: none;
    color: black;
    padding-right: 40px;
} 

.container_2_img{
    position: relative;
    top: 450px;
}